body
{
	overflow-x: hidden; /* needed because hiding the menu on the right side is not perfect,  */
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 66px;
  height: 77px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 66px;
  height: 7px;
  margin-bottom: 10px;
  position: relative;
  
  background-color: rgb(48, 38, 48);
  border-radius: 4px;
  
  z-index: 1;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span:nth-last-child(5)
{
  opacity: 1;
  transform: rotate(45deg) translate(15px, 15px);
  background: #aaa;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(4), 
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 1;
  transform: rotate(-45deg) translate(9px, -9px);
  background: #aaa;
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 250px;
  margin: -120px 0 0 0;
  padding-right: 100px;
  padding-top: 125px;
  padding-bottom: 50px;
  right: -100px;
  
  background: rgb(48, 38, 48);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  text-align: right;
/*  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);*/
}

#menu li
{
  padding: 10px 0;
  font-size: 2em;
  font-family: Futura;
}

#menu a {
 text-decoration: none;
 color: white;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  #menu {
    transform: none;
    opacity: 0;

    transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
}