@media only screen and (min-width: 640px) {
  #menuToggle { 
    top: 50px;
    right: 50px;
  }
  
  #menu { 
    top: -50px;
    right: -50px;
    width: 250px;
    padding-right: 50px;
    padding-top: 125px;
    padding-bottom: 50px;
    text-align: right; 	
  }
  
  #menuToggle input {
    width: 77px;
    height: 77px;
  }  
  
  #menuToggle span { 
    width: 66px;
    height: 7px;
    margin-bottom: 10px;	
  }

  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(45deg)  translate(-5px, -5px);
  }
}

@media only screen and (max-width: 640px) {
  #menuToggle { 
    top: 25px;
    right: 10px;
  }  
  
  #menu { 
    top: -25px;
    right: -10px;
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-top: 80px;
  }
  
  #menuToggle input {
    width: 55px;
	height: 55px;
  }

  #menuToggle span { 
    width: 44px;
    height: 5px;
    margin-bottom: 8px;
  }  
  
  #menuToggle input:checked ~ span {
    margin-right: 10px;
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(45deg)  translate(-7px, -7px);
  }  
}

#menuToggle
{
  display: block;
  position: fixed;
  z-index: 1;
  user-select: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#menuToggle input
{
  display: block;
  position: absolute;
  top: -7px;
  right: 5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  position: relative;
  background-color: rgb(48, 38, 48);
  border-radius: 4px;
  z-index: 1;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span:nth-last-child(5),
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  background: #aaa;
}

  #menuToggle input:checked ~ span:nth-last-child(5) {
    transform: rotate(-45deg);
	transform-origin: 100% 0;
  }  
  
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
	transform-origin: 100% 100%;  
  }
  
/*
 * But let's hide the middle ones.
 */
#menuToggle input:checked ~ span:nth-last-child(4), 
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  margin: 0px;	
  background: rgb(48, 38, 48);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
}

#menu li
{
  padding: 10px 0;
  font-size: 2em;
  font-family: Futura;
}

#menu a {
 text-decoration: none;
 color: white;
}

#menuToggle input ~ ul { 
  display: none;
}

#menuToggle input:checked ~ ul
{
  display: block;
  opacity: 1;
}