body {
  font-family: arial;
  box-sizing: border-box;
}

@media only screen and (min-width: 640px) {
  body { 
    margin: 20px 50px 30px 50px;
  }
  
  #logo { 
    width: 350px;
  }  
  
  h {
    font-size: 2.7em;
  }  
  
  #content.tight p { 
    font-size: 1.5em;  
  }
  
  #content.expansive p {
	font-size: 1.4em;  
	line-height: 120%;	
  }
  
  #content.expansive h {
    font-size: 2.2em;  
  }
  
  ul.airy li { 
    font-size: 1em;
  }

  ul.airy em {
    font-size: 1.5em;  
  }
  
  blockquote { 
	font-size: 1.2em;
  }
  
  #team { 
    justify-content: space-between;
  }
  
  #footer ul {
    justify-content: flex-end;
    float: right;
  }
}

@media only screen and (max-width: 640px) {
  body { 
    margin: 10px;
  }

  #logo { 
    width: 200px;
  }

  h { 
    font-size: 1.6em;
  }	

  #content.tight p { 
    font-size: 1em;  
  }
  
  #content.expansive p {
	font-size: 1em;  
	line-height: 150%;
  }
  
  #content.expansive h {
    font-size: 1.5em;  
  } 

  ul.airy li { 
    font-size: 0.8em;
  }

  ul.airy em {
    font-size: 1.3em;  
  }
  
  blockquote { 
  	font-size: 0.8em;
	margin-left: 0px;
  }
  
  #team { 
    justify-content: center; 
  }
}

@font-face {
    font-family: 'Futura';
    src: url('Futura-Heavy.woff2') format('woff2'),
        url('Futura-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

h {
  font-family: 'Futura';
  font-weight: 900;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 40px;
  color: rgb(48, 38, 48);
}

#content { 
    color: rgb(60,60,60);
}

#content.tight {
    max-width: 640px;
	margin: 0px auto;
}

#content.expansive {
	margin: 0px;
}

#content.tight p { 
    line-height: 150%;
    margin-top: 10px;
    text-align: justify;
}

#content.expansive p {
	margin-top: 10px;
}

#content.expansive h {
  text-align: left;
}

ul.airy { 
  list-style-type: none;
  margin: 0;
  padding: 0;  
  text-align: left;
}

ul.airy li { 
  margin: 10px 0 15px 0;
  line-height: 170%;
}

ul.airy em {
  display: block;
}


blockquote {
	font-family: "courier new";
}

a {
  text-decoration: underline;
  color: rgb(48, 38, 48);
  text-decoration-color: rgb(73, 213, 45);	
}

a:hover {
  color: rgb(73, 213, 45) !important;
}

#team {
  display: flex;
  flex-wrap: wrap;
}

#person { 
  flex-grow: 1;
}

img.headshot {
  background-color: #eee;
  height: 280px;
  width: 280px;
  border: none;
  display: block;
  margin: 20px 0px 10px 0px;
}

.person .name {
  font-weight: bold;
  color: rgb(48, 38, 49);
  display: block;
  font-size: 1.7em;
}

.person .title {
  font-size: 1.3em;
  font-style: italic;
  color: rgb(60,60,60);
}

#footer { 
  margin-top: 100px;
  border-top: 5px solid rgb(48, 38, 49);
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: "courier new";
}

#footer ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;	
	gap: 20px;
}

#footer a {
  color: black;
  text-decoration: none;
}

textarea { 
  display: block;
  width: 100%;
  min-height: 300px;
  margin: 8px 0px 8px 0px;
  box-sizing: border-box;
}


em { 
  font-weight: bold;
  font-style: normal;  
}

button { 
  color: white;
  align: center;
  font-family: futura;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 110%;
  border-width: 1px;
  letter-spacing: .1rem;
  background-color: rgb(73, 213, 45);
}